@using TripCompanion_MVC.Services
@inject SessionManager sessionManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripCompanion_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mystyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TripCompanion_MVC.styles.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" asp-append-version="true"/>
</head>

<span id="message" class="d-none">@TempData["Message"]</span>

<body>

<!-- Start Header -->
<div  class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>

               @if(sessionManager.Role == "user")
                {
                   <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li> 
                }
                
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

            @if(sessionManager.Role != "user")
            {
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2"><a asp-controller="Account" asp-action="Login">Login</a></button>
                    <button type="button" class="btn btn-outline-primary me-2"><a asp-controller="Account" asp-action="SignUp">Sign-up</a></button>
                </div>
            }

            @if(sessionManager.Role == "user")
            {
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2"><a asp-controller="Account" asp-action="Logout">Logout</a></button>
                </div>
            }


    </header>
  </div>
<!-- End Header -->



  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



<!-- Start Footer -->
   <div class="container>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
  </div>
  <!-- End Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/toast-notification.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

  </body>
  </html>