@using TripCompanion_MVC.Services
@inject SessionManager sessionManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripCompanion_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mystyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TripCompanion_MVC.styles.css" asp-append-version="true" />
   
    <!--Toastr Lib Css-->
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" asp-append-version="true"/>
    <!--Leaflet Lib Css-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>

</head>

<span id="message" class="d-none">@TempData["Message"]</span>

<body>

<!-- Start Header -->
<div  class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <img src="~/assets/icones/Icon_Main.jpg" class="d-block img-fluid" alt="icon" loading="lazy" width="50" height="50" />

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center ">
        <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 link-secondary">Home</a></li>

               @if(sessionManager.Role == "user")
                {
                   <li><a asp-controller="Travel" asp-action="TravelPage" asp-route-idUser=@sessionManager.IdUser class="nav-link px-2 link-dark">Mes Voyages</a></li> 
                }
                
        <li><a asp-controller="Home" asp-action="FAQ" class="nav-link px-2 link-dark">FAQ</a></li>
        <li><a asp-controller="Home" asp-action="About" class="nav-link px-2 link-dark">About</a></li>
      </ul>

            @if(sessionManager.Role != "user")
            {
                <div class="col-md-3 text-end">

                    <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="SignUp">Sign-up</a>
                    
                </div>
            }

            @if(sessionManager.Role == "user")
            {
                <div class="col-md-3 text-end">
                  
                    <span class="me-2 p-3 bg-info bg-opacity-10 border border-info rounded">@sessionManager.UserName</span>   

                    <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="Logout">  Logout</a>
                   
                </div>
            }

    </header>
  </div>
<!-- End Header -->



  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


   


<!-- Start Footer -->
   <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-muted">Home</a></li>      
        <li class="nav-item"><a asp-controller="Home" asp-action="FAQ" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Corentin</p>
    </footer>
  </div>
  <!-- End Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Toastr Lib -->
    <script src="~/lib/toastr/toastr.min.js"></script>
    <!-- Toastr personnal Script-->
    <script src="~/js/toast-notification.js" asp-append-version="true"></script>

    <!-- Leaflet Lib-->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
    @await RenderSectionAsync("Scripts", required: false)

  </body>
  </html>