@model User
@inject SessionManager sessionManager

@{
    ViewData["Title"] = "TravelPage";
}

<div>
            
        @await Component.InvokeAsync("Trips",@sessionManager.IdUser)
    
     <div class="row">
        <div class="col-4" id="StepVC" >
         Where StepVC should appear
        </div>

       <div class="col-8" id="TodoVC" >
         Where TodoVC should appear
         </div>
     </div>
      
</div>

@section Scripts{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
function GetStepByTripVC(idTrip){
    
    $.ajax({
        url: "https://localhost:7160/Travel/GetStepByTripVC",
        type: "get",
        dataType: "html",
        beforeSend: function (x) {
        },
        data: {idTrip: idTrip },
        success: function (result) {
            console.log(result);
            $("#StepVC").html(result);
        }
    });
}

function GetTodoByStepVC(idStep){
   
    $.ajax({
        url: "https://localhost:7160/Travel/GetTodoByStepVC",
        type: "get",
        dataType: "html",
        beforeSend: function (x) {
        },
        data: {idStep: idStep },
        success: function (result) {
            console.log(result);
            $("#TodoVC").html(result);
        }
    });
}

    /*
$(document).ready(function(){
 $.fn.GetStepVC = function (idTrip) {
    console.log("test");
    console.log(idTrip);
    $.ajax({
        url: "https://localhost:7160/Step/GetStepsVC",
        type: "get",
        dataType: "html",
        beforeSend: function (x) {
        },
        data: {idTrip: idTrip },
        success: function (result) {
            console.log(result);
            $("#view-component-ajax").html(result);
        }
    });
};
});
*/


/*
$(".btnCallAjax").click(function () {
    console.log("test");
    console.log($("#idTrip").val());
    $.ajax({
        url: "https://localhost:7160/Step/GetStepsVC",
        type: "get",
        dataType: "html",
        beforeSend: function (x) {
        },
        data: {idTrip: },
        success: function (result) {
            console.log(result);
            $("#view-component-ajax").html(result);
        }
    });
});
*/

</script>
}


