@model User
@inject SessionManager sessionManager

@{
    ViewData["Title"] = "TravelPage";
}

<div>
            
        @await Component.InvokeAsync("Trips",@sessionManager.IdUser)
    
         <div class="m-3" id="TravelMap"></div>

     <div class="row">
        <div class="col-4" id="StepVC" >
         
        </div>

       <div class="col-8" id="TodoVC" >
         
         </div>
     </div>

    
      
</div>




@section Scripts{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/map-localisation.js"></script>

<!-- Leaflet Loaging Script -->
<script>
$(document).ready(function () {
    var map = L.map('TravelMap').setView([51.505, -0.09], 13);
    var marker = L.marker([51.5, -0.09]).addTo(map);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);
});
</script>

<!-- Script -->
<script>
    function UpdateMap(location){
            console.log(location);
            $.ajax({
            url: "https://localhost:7160/Travel/MapCoordinates",
            type: "get",
            dataType: "html",
            beforeSend: function (x) {
            },
            data: {location: location},
            success: function (result) {
                console.log(result);
                ShowMap(result[0],result[1]);
            }
        });
    }
</script>

<!-- My Scripts : Dynamic Steps and Todos-->
<script>
function GetStepByTripVC(idTrip){
    $("#TodoVC").empty();
    $.ajax({
        url: "https://localhost:7160/Travel/GetStepByTripVC",
        type: "get",
        dataType: "html",
        beforeSend: function (x) {
        },
        data: {idTrip: idTrip },
        success: function (result) {
            console.log(result);
            $("#StepVC").html(result);
        }
    });
}
function GetTodoByStepVC(idStep){
    $.ajax({
        url: "https://localhost:7160/Travel/GetTodoByStepVC",
        type: "get",
        dataType: "html",
        beforeSend: function (x) {
        },
        data: {idStep: idStep },
        success: function (result) {
            console.log(result);
            $("#TodoVC").html(result);
        }
    });
}

</script>
}


