
@{
    ViewData["Title"] = "TravelPage";
}

<div class="container">



    <div class = "column-8"">

        <h3>Test Trip</h3>

        

        <div class = "column-4">

           <h4>Test Step</h4>

        </div>

        <div class = "column-8">
            
            <h4>Test Todo</h4>

        </div>

    </div>

    <div class= "column-4" >

        <h3> Test API </h3>

    </div>


</div>
